{# Dashboard template #}
{% extends 'base.html.twig' %}

{% block title %}timeClock | Dashboard{% endblock %}

{% block body %}
    <section id="main">
        <h1 class="hoverinfo">I came <time class="timeago" datetime="{{ time|date('c') }}" title="The session is running for {{ interval }}"></time>!</h1>
        <p>Today is {{ 'now'|date('l, j F Y') }} your are present since <date>{{ time|date('l, j F Y') }}</date> <time datetime="{{ time|date('c') }}" title="">{{ time|date('H:i') }}</time> as <span title="My code is {{ user.code }}." class="hoverhelp"><strong>{{ user.name }}</strong></span>.</p>
    </section>
    <section id="peopleIn">
        <h2>Who is in?</h2>
        <p><a href="{{ path('peopleIn') }}">Print Present People Report</a></p>
        <div id="user-cloud" class='jqcloud'></div>        
    </section> 
    <section id="workload">
        <h2>Workload {{ timeTotal }}</h2>
        <p><a href="{{ path('workload') }}">Print Workload Report </a></p>
        <div id="work-cloud" class='jqcloud'></div>
    </section> 
    <section id="navigation">
        <span class="button"><a href="#main">Me</a></span>
        <span class="button"><a href="#peopleIn">Who is in</a></span>
        <span class="button"><a href="#workload">Workload</a></span>
        <span class="button warning"><a href="{{ path('signOut')}}">Sign Out</a></span>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript">
        var names = {{ (names|json_encode|raw) }};
        var workTimes = {{ (workTimes|json_encode|raw) }};
        
        $('#user-cloud').jQCloud(names);
        $('#work-cloud').jQCloud(workTimes);
    </script>
{% endblock %}
